ul {
  list-style-type: none;
  background: linear-gradient(180deg, rgba(13,13,13,.3) 0%, rgba(41,41,41,.3) 50%, rgba(74,74,74,.3) 100%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 14px;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
